/*menu*/
.menu{position: relative;padding-bottom:0.1rem;}
.menu ul {clear: both;text-align: center;background: #f9f9f9;overflow: hidden;overflow-x:auto;white-space:nowrap;width:100%;}
.menu li {display: inline-block;height:0.853333rem;line-height: 0.853333rem;font-size:0.4rem;width: 19%;}
.menu li a { display: block; }
.menuAdd{position: absolute;right:0;top:0;width: 0.753333rem;height:0.853333rem;}
.menuAdd i{width: 0.753333rem;height:0.853333rem;background:#fff;opacity: 0.7;display: block;position: absolute;z-index: 1;}
.menuAdd img{width: 0.48rem;height: 0.48rem;position: absolute;z-index: 2;top:0.133333rem;right: 0}

/*slide*/
.slideBox{position:relative;overflow:hidden;}
.slideBox .bd{ position:relative; z-index:0;width:100%;height: 4.833333rem; }
.slideBox .bd li{ position:relative; text-align:center;width:100%;  }
.slideBox .bd li img{vertical-align:top; width:100%;height:4.833333rem; }
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  } 
.slideBox .bd li .tit{display:block; width:100%;  position:absolute; bottom:0; height:0.933333rem; line-height:0.933333rem; background:url(../images/focusBg.png) repeat; color:#fff;  text-align:center;font-size: 0.426667rem; padding:0 0.133333rem; box-sizing: border-box;}



